* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7eb14bb;
  font-family: "Montserrat", sans-serif;
}

h2 {
  text-align: center;
}
.app {
  display: flex;
  width: 70vh;
  height: 60vh;
  flex-flow: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.lists {
  display: flex;
  flex: 1;
  width: 100%;
  /*  overflow-x: scroll; */
}

.lists .list {
  display: flex;
  flex-flow: column;
  flex: 1;
  border-radius: 6px;

  width: 100%;
  min-width: 350px;
  max-width: 450px;
  min-height: 250px;
  background-color: rgba(206, 216, 77, 0.97);
  margin: 0 15px;
  padding: 8px;
  transition: all 0.2 linear;
}

.lists .list .list__item {
  background-color: rgba(243, 202, 18, 0.98);
  border-radius: 8px;
  padding: 15px 20px;
  text-align: center;
  margin: 4px 0;
}

.box {
  background-color: rgb(241, 240, 124);
  padding: 10px;
}
.box__task {
  background-color: rgb(255, 217, 0);
  padding: 10px;
}
.box__task__title{
    padding: 1px;
    margin-bottom: 7px;
}
.box__task__date{
    padding-left: 0px;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
